*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Manrope";
    scroll-behavior: smooth;

}
#back-to-top.show {
    opacity: 1;
    visibility: visible;
}
#back-to-top:hover {
    cursor: pointer;
    background-color: #001233;
}
#back-to-top {
    display: inline-block;
    background-color: #222428;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#back-to-top i {
    font-weight: 700;
    font-size: 1.25em;
    line-height: 40px;
    color: #f2f2f2;
}
/* #back-to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    transform: translateY(-555px);
} */
a{
    text-decoration: none;
    color: #fff;
}
#top-bar {
    height: 2.5rem;
}
#hero {
    width: 100%;
    height: calc(100vh - 110px);
    background: url(https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) top center;
    background-size: cover;
    position: relative;
}
#hero .btn-get-started {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
}
#hero .btn-get-started:hover {
    color: black;
    background: #fff;
}
.btn {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    border: 2px solid black;
    color: black;
}
form .btn:hover{
    color: #fff;
    background: #111;
}

@media screen and (max-width:1025px) {
    #hero .btn-get-started {
        margin-bottom: 2rem;
        margin-left: 0!important;
    }
    .button-container{
        flex-direction: column;
    }
    .button-container .btn{
        margin-bottom: 2rem;
    }
    
}